
header{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px 70px;
}

.navbar{
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 0 15px;

}
.navbar a{
    text-decoration: none;
}

p{
    padding:5px;
}
.container{
    margin: 10px 200px;
    width: 900px;
}
.blue{
    color:blue;
    font-size: 14px;
    text-shadow: 1px;
}

.footer{
    text-align: center;
    background-color: cadetblue;
    height:2em;
}